header {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 50px;
    background-size: 1000px;
    padding-top: 50px;
}

body{
    text-align: center;
    margin: 20px;
    font-weight: 100;
    background-image: linear-gradient(45deg, #49a09d, #5f2c82);
    min-height:100vh;
}

table{
    background: white;
    background-size: 50px;
    width: auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
th,
td {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255,255,255,0.2);
}

th {
    text-align: left;
}
.column-header{
    color: #ffffff;
    background-color: #55608f;
}
.data-table:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

form input, form button{
    padding: 0.5rem;
    font-size:1rem;
    border:none;
    margin-left: 20px;
    margin-top: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.user-form{
    color: white;
    font-size: 22px;
}
.book-user{
    cursor: pointer;
    text-align: center;
    color: #0b4bc7;
}
.book-user:hover{
    color: rgb(0, 17, 255);
    font-weight: bold;
}
.filter-input{
    background-image: url("./icons/search.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    position: center;
    padding: 12px 12px 12px 40px;
}
.dialog {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.dialog-content {
    position: relative;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s
}
@-webkit-keyframes animatebottom {
    from {bottom:-300px; opacity:0}
    to {bottom:0; opacity:1}
}

@keyframes animatebottom {
    from {bottom:-300px; opacity:0}
    to {bottom:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    color: #b258ff;
    text-decoration: none;
    cursor: pointer;
}

.dialog-header {
    padding: 2px 16px;
    background-color: #55608f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}

.dialog-body {
    padding: 2px 16px;
    font-size: 24px;
}
.dialog-body input{
    border: 1px solid;
}

.dialog-footer {
    padding: 21px 16px;
    background-color: white;
    color: white;
}

.money-label{
    color: white;
    font-size: 35px;
}
#money{
    font-size: 40px;
    color:red;
}